<footer id="footer" class="py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 popular-tags">
                <h3>Popular Tags</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Python</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">React</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Django</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Algorithms</a>
                    </li>
                  </ul>
            </div>

            <div class="col-md-4 col-12 social-media">
                <h3>Follow Us</h3>
                <div class="d-flex flex-wrap align-items-center justify-content-center mt-3">
                    <div class="pr-3">
                        <a href="">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>

                    <div class="pr-3">
                        <a href="">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>

                    <div class="pr-3">
                        <a href="">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>

                    <div>
                        <a href="">
                            <i class="fa fa-quora"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 other-links">
                <h3>Other Links</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/terms-conditions">Terms & Conditions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cookie-policy">Cookie Policy</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact Us</a>
                    </li>
                  </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>