<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a href="/" class="navbar-brand text-uppercase">{ Prefix }</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            
            <ul class="navbar-nav mr-auto text-uppercase">
                {% if not user.is_authenticated %}
                <li 
                {% if '/' == request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
                {% endif %}
                
                >
                    <a class="nav-link" href="{% url 'index' %}" >Home</a>
                </li>
    
                <li
                {% if 'python' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
                {% endif %}
                >
                    <a class="nav-link" href="{% url 'category' 'python' %}">Python</a>
                </li>

                <!-- <li 
                {% if 'react' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
                {% endif %}
                >
                    <a class="nav-link" href="{% url 'category' 'react' %}">React</a>
                </li> -->

                <!-- <li 
                {% if 'django' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
                {% endif %}
                >
                    <a class="nav-link" href="{% url 'category' 'django' %}">Django</a>
                </li> -->

                <li 
                {% if 'algorithms' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
                {% endif %}
                >
                    <a class="nav-link" href="{% url 'category'  'algorithms' %}">Algorithms</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Add Post</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Posts</a>
                </li>

                <!-- <li class="nav-item">
                    <a href="#" class="nav-link"></a>
                </li> -->
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto text-uppercase">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:{document.getElementById('logout').submit();}">Logout</a>
                    
                    <form action="{% url 'logout' %}" id="logout" method="POST">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>

                </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="btn btn-primary-outline" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>