<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8" id="recent-posts">
                {% if category %}
                <h3 class="text-uppercase">Recent {{category_name}} Posts</h3>
                {% else %}
                <h3 class="text-uppercase">Recent Posts</h3>
                {% endif %}

                {% for blog in blogs %}
                <article class="card card-body post-card mt-3">
                    <div class="row">
                        <div class="col-6 d-flex flex-wrap">
                            <!-- <div class="tag mr-2">Python</div>
                            <div class="tag mr-2">Algorithms</div>
                            <div class="tag">Featured</div> -->
                            {% for tag in blog.tags %}
                                <div class="tag mr-2">{{tag}}</div>
                            {% endfor %}

                        </div>
                        <div class="col-6 d-flex flex-wrap justify-content-end">
                            <div class="social-share-icon mr-3">
                                <i class="fa fa-facebook"></i>
                            </div>

                            <div class="social-share-icon mr-3">
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="social-share-icon">
                                <i class="fa fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3 class="post-title">
                                {{blog.title}}
                            </h3>

                            <p class="post-content mt-2">
                                {{blog.summary}}
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end">
                        <button class="btn btn-primary-outline text-uppercase">
                            Read More
                        </button>
                    </div>
                </article>
                {% endfor %}
                
                

                <!-- <article class="card card-body post-card mt-3">
                    <div class="row">
                        <div class="col-6 d-flex flex-wrap">
                            <div class="tag mr-2">Python</div>
                            <div class="tag mr-2">Algorithms</div>
                            <div class="tag">Featured</div>
                        </div>
                        <div class="col-6 d-flex flex-wrap justify-content-end">
                            <div class="social-share-icon mr-3">
                                <i class="fa fa-facebook"></i>
                            </div>

                            <div class="social-share-icon mr-3">
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="social-share-icon">
                                <i class="fa fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3 class="post-title">
                                What is Queue? and How to Implement Queue in Python
                            </h3>

                            <p class="post-content mt-2">
                                Queue is a commonly used data structure for solving interview problems and real-life
                                coding problems. In this blog post, we will learn what is Queue? and how to implement
                                queue in python using the existing list data type. What is Queue? Queue is a linear data
                                structure where insertion can be performed on one end …
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end">
                        <button class="btn btn-primary-outline text-uppercase">
                            Read More
                        </button>
                    </div>
                </article>

                <article class="card card-body post-card mt-3">
                    <div class="row">
                        <div class="col-6 d-flex flex-wrap">
                            <div class="tag mr-2">Python</div>
                            <div class="tag mr-2">Django</div>
                            <div class="tag">Featured</div>
                        </div>
                        <div class="col-6 d-flex flex-wrap justify-content-end">
                            <div class="social-share-icon mr-3">
                                <i class="fa fa-facebook"></i>
                            </div>

                            <div class="social-share-icon mr-3">
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="social-share-icon">
                                <i class="fa fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3 class="post-title">
                                How to Create a Basic Web Application using Flask
                            </h3>

                            <p class="post-content mt-2">
                                Flask is a python framework for building web applications. In this blog we will learn
                                how to create basic web application using flask framework. Requirements Python – 3.7.4
                                or higher. Text Editor or IDE of your choice (I am using VS code). Basic understanding
                                of HTML, CSS and Python. Virtual Environment Setup Create Virtual Environment …
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end">
                        <button class="btn btn-primary-outline text-uppercase">
                            Read More
                        </button>
                    </div>
                </article>

                <article class="card card-body post-card mt-3">
                    <div class="row">
                        <div class="col-6 d-flex flex-wrap">
                            <div class="tag mr-2">Python</div>
                            <div class="tag mr-2">Algorithms</div>
                            <div class="tag">Featured</div>
                        </div>
                        <div class="col-6 d-flex flex-wrap justify-content-end">
                            <div class="social-share-icon mr-3">
                                <i class="fa fa-facebook"></i>
                            </div>

                            <div class="social-share-icon mr-3">
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="social-share-icon">
                                <i class="fa fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3 class="post-title">
                                What is Stack? and How to Implement Stack in Python
                            </h3>

                            <p class="post-content mt-2">
                                Stack is commonly used data structure for solving interview problem and real life coding
                                problem. In this blog post we will learn what is stack? and how to implement stack in
                                python using existing list data type. What is Stack? Stack is a linear data structure
                                that is used to store collection of object. Stack...
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end">
                        <button class="btn btn-primary-outline text-uppercase">
                            Read More
                        </button>
                    </div>
                </article>

                <article class="card card-body post-card mt-3">
                    <div class="row">
                        <div class="col-6 d-flex flex-wrap">
                            <div class="tag mr-2">Python</div>
                            <div class="tag mr-2">Algorithms</div>
                            <div class="tag">Featured</div>
                        </div>
                        <div class="col-6 d-flex flex-wrap justify-content-end">
                            <div class="social-share-icon mr-3">
                                <i class="fa fa-facebook"></i>
                            </div>

                            <div class="social-share-icon mr-3">
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="social-share-icon">
                                <i class="fa fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3 class="post-title">
                                What is Queue? and How to Implement Queue in Python
                            </h3>

                            <p class="post-content mt-2">
                                Queue is a commonly used data structure for solving interview problems and real-life
                                coding problems. In this blog post, we will learn what is Queue? and how to implement
                                queue in python using the existing list data type. What is Queue? Queue is a linear data
                                structure where insertion can be performed on one end …
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-end">
                        <button class="btn btn-primary-outline text-uppercase">
                            Read More
                        </button>
                    </div>
                </article>

                <div class="d-flex flex-wrap justify-content-center mt-5">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item active"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </div>
            <div class="col-12 col-lg-4 pl-5">
                <aside id="right-options">
                    <div class="categories">

                        <h3 class="text-uppercase">Categories</h3>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'category' 'python' %}">Python</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'category' 'react' %}">React</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'category' 'django' %}">Django</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'category' 'algorithms' %}">Algorithms</a>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-5 card card-body newsletter-card">
                        <div class="newsletter">
                            <h3 class="text-uppercase text-center">
                                NewsLetter
                            </h3>
                            <p class="text-center">
                                Make sure to subscribe to our newsletter and
                                be the first to know recent updates
                            </p>

                            <form action="">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Email Address" />
                                <button type="submit"
                                    class="btn btn-block btn-primary-outline mt-3 text-uppercase">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <div class="mt-5 social-media">
                        <h3 class="text-uppercase">Follow Us</h3>
                        <div class="d-flex flex-wrap align-items-center justify-content-center mt-3">
                            <div class="pr-3">
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>

                            <div class="pr-3">
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>

                            <div class="pr-3">
                                <a href="">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>

                            <div>
                                <a href="">
                                    <i class="fa fa-quora"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>