{% extends 'layout.html'%}

{% load static %}

{% block content %}

{% include "partials/_alerts.html" %}

<section id="main-content">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center text-uppercase">
                <h3 class="brand-name">
                    Dev Prefix
                </h3>

                <!-- <div class="brand-subheading mt-2">
                    Blog Each Sunday & Thrusday
                </div> -->
            </div>
        </div>

        <div class="post-carousel mt-5 px-5 d-none d-lg-block">

            {% for blog in blogs %}
            <div class="carousel-slide">
                <div class="row mt-5">
                    <div class="col-12 d-flex flex-wrap justify-content-center">
                        {% for tag in blog.tags %}
                            <div class="tag mr-2">{{tag}}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 col-md-6 offset-md-3 text-center">
                        <h3 class="post-title">
                            {{blog.title}}
                        </h3>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center my-5">
                    <div class="col-12 post-author text-center text-uppercase">
                        by {{blog.author.username}}
                    </div>

                    <div class="col-12 mt-2 d-flex flex-wrap justify-content-center">
                        <div class="likes pr-3">
                            <i class="fa fa-heart-o pr-1"></i> {{blog.likes_count}}
                        </div>

                        <div class="comments">
                            <i class="fa fa-comment-o pr-1"></i> {{blog.comment_count}}
                        </div>
                    </div>

                </div>
            </div>    
            {% endfor %}

        </div>
    </div>
</section>

{% include 'partials/_recent-posts.html' with blogs=blogs only %}

{% endblock %}