{% extends 'layout.html'%}

{% block content %}

<section id="privacy-policy" class="my-5">
    <div class="container">
        <div class="card card-body">
            <div class="row my-3">
                <div class="col-12">
                    <h3 class="text-uppercase">Privacy Policy</h3>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>


            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>

            <div class="row mx-3 mb-3">
                <div class="col-12">
                    <h4>Lorem, ipsum dolor.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit ducimus repellat adipisci reprehenderit maiores cumque, recusandae temporibus repellendus ipsam, nobis sint doloremque. Molestiae repudiandae quibusdam culpa blanditiis eveniet et!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}