:root {
    --primary-color: #2AB7A6;
    --secondary-color: #07354B;
    --white-color: #ffffff;
    --dark-color: #333333;
    --muted-color: #fbfbfb;
    --grey-color: #999;
}

.dark-theme {
    --text-color-primary: var(--primary-color);
    --text-color-secondary: var(--secondary-color);
    --text-color-white: var(--white-color);
    --text-color-muted: var(--muted-color);
    --text-color-dark: var(--dark-color);

    --background-color-primary: var(--primary-color);
    --background-color-secondary: var(--secondary-color);
    --background-color-white: var(--white-color);
    --background-color-muted: var(--muted-color);
    --background-color-dark: var(--dark-color);

    --border-color-primary: var(--primary-color);
    --border-color-secondary: var(--secondary-color);
    --border-color-white: var(--white-color);
    --border-color-muted: var(--muted-color);
    --border-color-dark: var(--dark-color);

    --subheading-text-color: var(--grey-color);
    --post-border-color: var(--grey-color);
}

.light-theme {
    --text-color-primary: var(--primary-color);
    --text-color-secondary: var(--white-color);
    --text-color-white: var(--white-color);
    --text-color-muted: var(--muted-color);
    --text-color-dark: var(--dark-color);

    --background-color-primary: var(--primary-color);
    --background-color-secondary: var(--white-color);
    --background-color-white: var(--white-color);
    --background-color-muted: var(--muted-color);
    --background-color-dark: var(--dark-color);

    --border-color-primary: var(--primary-color);
    --border-color-secondary: var(--white-color);
    --border-color-white: var(--white-color);
    --border-color-muted: var(--muted-color);
    --border-color-dark: var(--dark-color);

    --subheading-text-color: var(--grey-color);
    --post-border-color: var(--grey-color);
}

*:focus {
    outline: none;
    box-shadow: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--border-color-primary);
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    font-size: 2rem;
    color: var(--text-color-primary);
    font-weight: 700;
    letter-spacing: 4px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-color-dark);
    font-size: 0.875rem;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--text-color-primary);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--text-color-primary);
}

.btn-primary-outline {
    background-color: var(--background-color-white);
    border-radius: 0;
    border-color: var(--border-color-primary);
    padding: 0.5rem 0.75rem;
    color: var(--text-color-primary);
    letter-spacing: 2px;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.btn-primary-outline:hover {
    background-color: var(--background-color-primary);
    color: var(--text-color-white);
}

#main-content .brand-name {
    color: var(--text-color-primary);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
}

#main-content .brand-subheading {
    color: var(--subheading-text-color);
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 700;
    
}

.post-carousel .carousel-slide {
    background-color: var(--background-color-muted);
}

.post-carousel .carousel-slide:focus {
    outline: none;
}

.post-carousel .slide-next, .post-carousel .slide-prev {
    position: absolute;
    top: calc(50% - 2rem);
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: var(--text-color-dark);
    border: none;
    outline: none;
    background: transparent;
    font-size: 4rem;
}

.post-carousel .slide-next {
    right: -25px;
}

.post-carousel .slide-prev {
    left: -25px;
}

.post-carousel .post-title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2rem;
}

.post-carousel .post-author {
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.tag {
    background-color: var(--background-color-primary);
    background-color: var(--background-color-primary);
    color: var(--text-color-white);
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social-share-icon {
    color: var(--text-color-primary);
    font-size: 1rem;
}

.social-share-icon:hover {
    cursor: pointer;
}

#recent-posts h3 {
    font-size: 1.25rem;
    color: var(--text-color-primary);
    letter-spacing: 2px;
}

#recent-posts .post-title {
    color: var(--text-color-dark);
    font-size: 1.25rem;
    letter-spacing: 2px;
}

#recent-posts .post-card {
    border-radius: 0;
}

#recent-posts .post-content {
    font-size: 0.875rem;
    letter-spacing: 1.5px;
}

#recent-posts .pagination,
#recent-posts .pagination a.page-link {
    border-radius: 0;
}

#recent-posts .pagination a.page-link {
    color: var(--text-color-dark);
}

#recent-posts .pagination .page-item.active a.page-link {
    color: var(--text-color-white);
    background-color: var(--background-color-primary);
    border-color: var(--border-color-primary);
}

#recent-posts .pagination .page-item:first-child > a,
#recent-posts .pagination .page-item:last-child > a {
    color: var(--text-color-primary);
}

#right-options .categories h3 {
    color: var(--text-color-primary);
    font-size: 1.25rem;
    letter-spacing: 2px;
}

#right-options ul.nav {
    padding-left: 0;
}

#right-options ul.nav .nav-link {
    color: var(--text-color-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
}

#right-options ul.nav .nav-link:hover {
    color: var(--text-color-primary);
}

#right-options .newsletter-card {
    border-radius: 0;
}

#right-options .newsletter {
    border-radius: 0;
    padding: 0.5rem;
}

#right-options .newsletter h3 {
    color: var(--text-color-primary);
    font-size: 700;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

#right-options .newsletter p {
    font-size: 0.875rem;
    letter-spacing: 2px;
}

#right-options .social-media h3 {
    color: var(--text-color-primary);
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-align: center;
}

#right-options .social-media a {
    font-size: 1.25rem;
    color: var(--text-color-dark);
}

#right-options .social-media a:hover {
    color: var(--text-color-primary);
}

#footer {
    background-color: var(--background-color-muted);
}

#footer h3 {
    text-transform: uppercase;
    color: var(--text-color-dark);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
    text-align: center;
}

#footer ul.nav {
    padding-left: 0.5rem;
}

#footer ul.nav .nav-link {
    color: var(--text-color-dark);
    letter-spacing: 2px;
    font-size: 0.875rem;
    text-align: center;
}

#footer ul.nav .nav-link:hover {
    color: var(--text-color-primary);
}

#footer .social-media h3 {
    color: var(--text-color-dark);
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-align: center;
}

#footer .social-media a {
    font-size: 1.25rem;
    color: var(--text-color-dark);
}

#footer .social-media a:hover {
    color: var(--text-color-primary);
}

#privacy-policy .card,
#terms-conditions .card,
#cookie-policy .card,
#login .card,
#register .card {
    border-radius: 0;
}

#privacy-policy h3,
#terms-conditions h3,
#cookie-policy h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    color: var(--text-color-dark);
}

#privacy-policy h4,
#terms-conditions h4,
#cookie-policy h4 {
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: var(--text-color-dark);
    font-weight: 700;
    text-transform: uppercase;
}

#privacy-policy p,
#terms-conditions p,
#cookie-policy p {
    font-size: 0.875rem;
    letter-spacing: 2px;
    color: var(--text-color-dark);
}

#contact-us {
    letter-spacing: 2px;
}

#contact-us .card {
    border-radius: 0;   
}

#contact-us h2,
#login h2,
#register h2
{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color-primary);
}

#contact-us button:focus {
    box-shadow: none;
}

#contact-us p {
    font-size: 0.875rem;
    color: var(--text-color-dark);
}

#contact-us .message {
    background-color: var(--text-color-primary);
    color: var(--text-color-white);
    font-weight: 300;
    font-size: 0.875rem;
}

#login, 
#register {
    letter-spacing: 2px;
}

#login .card,
#register .card {
    padding: 2rem 4rem;
}

#register label {
    font-size: 0.875rem;
}
